body {
    background-image: url("https://cdn.discordapp.com/attachments/812970059705614346/1064200280180273233/alextabacaru11_wallpaper_render_8k_4b1249aa-0283-4470-954b-116e828c2b95.png");
    font-family: 'Lato', sans-serif;
    color: #3F6A6Cff; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  h2{
    text-align: center;
    width: 40%;
    color:#BFC3BDff;
    background-color: #342F3Eff;
  }
  button {
    padding: 10px 20px;
    border: none;
    background-color: #BFC3BDff; 
    color: #342F3Eff; 
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10px 0;
  }
  
  button:hover {
    background-color: #4A817Fff; 
  }
  
  a {
      text-decoration: none;
      color: #3F6A6Cff;
  }
  